@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #9886e5;
  --color-base-200: #1c1c1d;
  --color-base-300: #101011;
  --color-base-content: #ffffff;
  --color-neutral-content: #777777;
}

body,
html,
#root {
  height: 100%;
}
